boto==2.49.0
boto3==1.9.95
botocore==1.12.95
bz2file==0.98
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
Cython==0.29.3
decorator==4.3.0
docutils==0.14
et-xmlfile==1.0.1
fasttext==0.8.3
future==0.17.1
gensim==3.7.1
google-api-python-client==1.7.4
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
hmm==0.0.1
jdcal==1.4
jip==0.9.13
jmespath==0.9.3
joblib==0.14.1
JPype1==0.6.3
kiwisolver==1.0.1
koalanlp==2.0.6
konlpy==0.5.1
kor2vec==0.0.1a0
krippendorff==0.2.3
lxml==4.3.3
matplotlib==3.0.2
networkx==2.2
nltk==3.4
numpy==1.15.4
oauth2client==4.1.2
openpyxl==2.5.10
pandas==0.24.2
pomegranate==0.13.3
psutil==5.6.1
ptvsd==4.2.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pydot==1.4.1
pyjnius==1.1.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.5
PyYAML==5.3.1
regex==2019.4.14
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.2.1
setuptools==40.8.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==2.0.0
soynlp==0.0.492
torch==1.0.1.post2
tqdm==4.31.1
unique-id==1.0.5
uritemplate==3.0.0
urllib3==1.24.1
xlrd==1.1.0

